.el-main {
	padding: 0;
}

img {
	width: 100%;
	height: 100%;
}

.headImg {
	width: 100%;
	height: 480px;
	background-image: url(../images/banner_4.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.headTitle {
	margin: 0;
	font-size: 48px;
	font-family: PingFangSC-Semibold, PingFang SC;
	font-weight: 600;
	color: #FFFFFF;
	text-align: center;
}

.headText {
	margin: 0;
	font-size: 26px;
	font-family: DINCond-Bold, DINCond;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	opacity: 0.6;
}


.container {
	background: #FFFFFF;
	overflow: hidden;
	width: 100%;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
}

.content {
	margin: auto;
	margin-top: 80px;
	margin-bottom: 120px;
}

.cont_title {
	margin: 0;
	font-size: 30px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #3E404B;
}


.introduction {
	margin-top: 40px;
	margin-bottom: 74px;
	display: flex;
	justify-content: space-between;
}

.introd_img {
	width: 432px;
	height: 320px;
}

.introd_text {
	margin-left: 48px;
	width: 696px;
}

.introd_text p {
	margin: 0;
	margin-bottom: 16px;
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #696C7F;
}
.introd_lift{
	padding: 0;
	width: 696px;
}
.introd_lift li {
	display: flex;
	list-style: none;
	margin-bottom: 16px;
}

.introd_lift li:nth-child {
	margin-bottom: 0;
}

.introd_lift li img {
	display: flex;
	margin: auto 0;
	margin-right: 10px;
	width: 14px;
	height: 14px;
}

.introd_lift li p {
	margin: 0;
	width: 100%;
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #696C7F;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
