<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>中竞集团</title>
		<link rel="shortcut icon" href="images/logo.png" >
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>

	<body>
		<div id="app" v-cloak>
			<el-container>
				<el-header style="height: auto;">
					<div class="logo">
						<img src="images/logo.png">
					</div>
					<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
						<el-menu-item index="1">
							<a href="index.html">首页</a>
						</el-menu-item>
						<el-menu-item index="2">
							<a href="management.html">消息管理</a>
						</el-menu-item>
						<el-menu-item index="3">
							<a href="aboutUs.html">关于我们</a>
						</el-menu-item>
						<el-menu-item index="4">
							<a href="template.html">下载模板</a>
						</el-menu-item>
						<el-menu-item index="5">
							<a href="project_index.html">我的项目</a>
						</el-menu-item>
						<el-menu-item index="6">
							<a href="personalCenter.html">个人中心</a>
						</el-menu-item>
					</el-menu>
				</el-header>
				<el-main>
					<el-carousel :interval="5000" arrow="always">
						<el-carousel-item v-for="(item,index) in bannerUrl" :key="index">
							<img :src="item.image" alt="" lazy>
						</el-carousel-item>
					</el-carousel>

					<div class="content">
						<div class="cont_container">
							<!-- 快捷入口 -->
							<div class="titles">
								<p>快捷入口</p>
								<p>Quick entry</p>
							</div>

							<div class="access">
								<a class="access_list" href="service.html">
									<img src="images/icon_1.png">
									<p>服务商城</p>
								</a>
								<a class="access_list" href="customer.html">
									<img src="images/icon_2.png">
									<p>客户成功</p>
								</a>
								<a class="access_list" href="policy.html">
									<img src="images/icon_3.png">
									<p>政策解读</p>
								</a>
								<a class="access_list" href="template.html">
									<img src="images/icon_4.png">
									<p>报告模板</p>
								</a>
							</div>
							<!-- 服务商城 -->
							<div class="titles_list">
								<div class="titles title_list">
									<p>服务商城</p>
									<p>Service mall</p>
								</div>
								<a class="most" href="service.html">
									<p>查看更多</p>
									<div class="most_img">
										<img src="images/right_1.png">
									</div>
								</a>
							</div>

							<div class="mall">
								<div class="mall_list" v-for="(item,index) in serve" :key='index' v-if="index < 3">
									<div class="mall_titles" >
										<div class="mall_line"></div>
										<p>{{item.typeName}}</p>
									</div>
									<div class="mall_main">
										<div class="mall_cont" v-for="(items,indexs) in item.list" :key='indexs'>
											<div class="mall_img">
												<img :src="items.image">
											</div>
											<div class="mall_right">
												<p class="mall_title">{{items.title}}</p>
												<p class="mall_content">{{items.content}}</p>
												<div class="mall_href" @click="mallDetails(items.id)">查看详情</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 行业资讯 -->
							<div class="titles_list">
								<div class="titles title_list">
									<p>行业资讯</p>
									<p>Industry News</p>
								</div>
								<a class="most" href="management.html">
									<p>查看更多</p>
									<div class="most_img">
										<img src="images/right_1.png">
									</div>
								</a>
							</div>
							<div class="industry">
								<div class="industry_left" @click="indust(industry.id)">
									<div class="industry_img">
										<img :src="industry.image">
									</div>
									<p class="industry_title">{{industry.title}}</p>
									<p class="industry_cos">{{industry.introduction}}</p>
									<div class="industry_cont">
										<div class="industry_icon">
											<img src="images/time.png">
										</div>
										<p>{{industry.updateTime}}</p>
										<p>&nbsp;&nbsp;来源：{{industry.source}}</p>
									</div>
								</div>

								<div class="industry_right">
									<div class="industry_list" v-for="(item,index) in records" :key="index" @click="indust(item.id)">
										<div class="list_img">
											<img :src="item.image">
										</div>
										<div class="list_cont">
											<p class="list_title">{{item.title}}</p>
											<p class="list_cos">{{item.introduction}}</p>
											<div class="industry_cont">
												<div class="industry_icon">
													<img src="images/time.png">
												</div>
												<p>{{unixTimeToDateTime(item.updateTime)}}</p>
												<p>&nbsp;&nbsp;来源：{{item.source}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</el-main>
				<el-footer>© 2020 中竞集团. All Rights Reserved &nbsp; 京ICP备05046329号-1 &nbsp; 京公网安备11010802009768</el-footer>
			</el-container>
		</div>
		<!-- import Vue before Element -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pulic.js" type="text/javascript" charset="utf-8"></script>
		<!-- import JavaScript -->
		<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>