<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>中竞集团</title>
		<!-- import CSS -->
		<link rel="shortcut icon" href="images/logo.png" >		
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/management.css" />
		
		<script>
		//声明_czc对象:
		var _czc = _czc || [];
		//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
		_czc.push(["_setAccount", "1278981857"]);
		</script>
	</head>
	<body>
		<div id="app" v-cloak>
			<el-container>
				<el-header style="height: auto;">
					<div class="logo">
						<img src="images/logo.png">
					</div>
					<el-menu  @select="bindTap" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
						<el-menu-item index="index.html" >
						首页
						</el-menu-item>
						<el-menu-item index="management.html">
							行业资讯
						</el-menu-item>
						<el-menu-item index="aboutUs.html">
							关于我们
						</el-menu-item>
						<el-menu-item index="template.html">
							下载模板
						</el-menu-item>
						<el-menu-item index="project_index.html">
							我的项目
						</el-menu-item>
						<el-menu-item index="personalCenter.html" v-if="isLogin">
							个人中心
						</el-menu-item>
						<el-menu-item index="login.html" v-else>
							登录
						</el-menu-item>
					</el-menu>
				</el-header>
				<el-main>
					<div class="headImg" >
						<img src="images/mangementImage.jpg">
					</div>
					<div class="container">
						<div class="content">
							<div class="cont_l" v-for="(item,index) in records" :key="index">
								<div class="cont_head">
									<p class="cont_title">{{item.title}}</p>
									<div class="industry_cont">
										<div class="industry_icon">
											<img src="images/time.png">
										</div>
										<p class="in_text">{{unixTimeToDateTime(item.updateTime)}}</p>
										<p class="in_text_one">来源：{{item.source}}</p>
									</div>
								</div>
								<div class="article">
									<p>{{item.introduction}}</p>
									<img :src="item.image" >
									<p v-html="item.content"></p>
								</div>
							</div>
							
							<div class="industry_right">
								<div class="mall_titles">
									<div class="mall_line"></div>
									<p>相关资讯</p>
								</div>
								<div class="industry_list" v-for="(item,index) in recordsList" :key="index" @click="politics(item.id)">
									<div class="list_img">
										<img :src="item.image">
									</div>
									<div class="list_cont">
										<p class="list_title">{{item.title}}</p>
										<p class="list_cos">{{item.introduction}}</p>
										<div class="industry_cont">
											<div class="industry_icon">
												<img src="images/time.png">
											</div>
											<p class="in_text">{{unixTimeToDateTime(item.updateTime)}}</p>
											<p class="in_text_one">来源：{{item.source}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</el-main>
				<el-footer>© 2020 中竞集团. All Rights Reserved &nbsp; 京ICP备05046329号-1 &nbsp; 京公网安备11010802009768</el-footer>
			</el-container>
		</div>
	</body>
	<script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1278981857&web_id=1278981857"></script>
	<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278981857'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278981857' type='text/javascript'%3E%3C/script%3E"));</script>
	
	
	<!-- import Vue before Element -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pulic.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="js/management.js" type="text/javascript" charset="utf-8"></script>
</html>
