<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>中竞集团</title>
		<!-- import CSS -->
		<link rel="shortcut icon" href="images/logo.png">
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/policy.css" />
	</head>

	<body>
		<div id="app" v-cloak>
			<el-container>
				<el-header style="height: auto;">
					<div class="logo">
						<img src="images/logo.png">
					</div>
					<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
						<el-menu-item index="1">
							<a href="index.html">首页</a>
						</el-menu-item>
						<el-menu-item index="2">
							<a href="management.html">消息管理</a>
						</el-menu-item>
						<el-menu-item index="3">
							<a href="aboutUs.html">关于我们</a>
						</el-menu-item>
						<el-menu-item index="4">
							<a href="template.html">下载模板</a>
						</el-menu-item>
						<el-menu-item index="5">
							<a href="project_index.html">我的项目</a>
						</el-menu-item>
						<el-menu-item index="6">
							<a href="personalCenter.html">个人中心</a>
						</el-menu-item>
					</el-menu>
				</el-header>
				<el-main>
					<div class="headImg">
						<p class="headTitle">政策解读</p>
						<p class="headText">policy analyzing</p>
					</div>
					<div class="container">
						<div class="content">
							<div class="industry">
								<div class="industry_left">
									<div class="industry_img">
										<img src="images/banner_3.png">
									</div>
									<p class="industry_title">研究报告称中国成为全球绿色能源发展的</p>
									<p class="industry_cos">第二届国际绿色能源发展大会16日在江苏省扬中市召开第二届国际绿色能源发展大会16日在江苏省扬中市召开</p>
									<div class="industry_cont">
										<div class="industry_icon">
											<img src="images/time.png">
										</div>
										<p>05/14 13:23:12</p>
										<p>&nbsp;&nbsp;来源：中国科技网</p>
									</div>

									<div class="industry_right policy">
										<div class="industry_list" v-for="(item,index) in 3" :key="index">
											<div class="list_img">
												<img src="images/banner_3.png">
											</div>
											<div class="list_cont">
												<p class="list_title">研究报告称中国成为全球绿色能源发展的…</p>
												<p class="list_cos">第二届国际绿色能源发展大会16日在江苏省扬中市召开。从会上获悉，中国已成为全球绿色能源发…</p>
												<div class="industry_cont">
													<div class="industry_icon">
														<img src="images/time.png">
													</div>
													<p>05/14 13:23:12</p>
													<p>&nbsp;&nbsp;来源：中国科技网/p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="industry_right">
									<div class="industry_list" v-for="(item,index) in 3" :key="index">
										<div class="list_img">
											<img src="images/banner_3.png">
										</div>
										<div class="list_cont">
											<p class="list_title">研究报告称中国成为全球绿色能源发展的…</p>
											<p class="list_cos">第二届国际绿色能源发展大会16日在江苏省扬中市召开。从会上获悉，中国已成为全球绿色能源发…</p>
											<div class="industry_cont">
												<div class="industry_icon">
													<img src="images/time.png">
												</div>
												<p>05/14 13:23:12</p>
												<p>&nbsp;&nbsp;来源：中国科技网/p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
							 :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="400">
							</el-pagination>
						</div>
					</div>
				</el-main>
				<el-footer>© 2020 中竞集团. All Rights Reserved &nbsp; 京ICP备05046329号-1 &nbsp; 京公网安备11010802009768</el-footer>
			</el-container>
		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="js/policy.js" type="text/javascript" charset="utf-8"></script>

</html>
