<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>中竞集团</title>
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/project_list.css" />
	</head>
	<body>
		<div id="app">
			<el-container>
				<el-header style="height: auto;">
					<div class="logo">
						<img src="images/logo.png">
					</div>
					<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
						<el-menu-item index="1"><a href="index.html">首页</a></el-menu-item>
						<el-menu-item index="2"><a href="management.html">消息管理</a></el-menu-item>
						<el-menu-item index="3"><a href="aboutUs.html">关于我们</a></el-menu-item>
						<el-menu-item index="4"><a href="template.html">下载模板</a></el-menu-item>
						<el-menu-item index="5"><a href="project_index.html">我的项目</a></el-menu-item>
						<el-menu-item index="6"><a href="personalCenter.html">个人中心</a></el-menu-item>
					</el-menu>
				</el-header>
				<el-main>
					<div class="headImg"></div>

					<div class="container">
						<div class="content">
							<div class="project">
								<div class="project_low">
									<p class="project_title">Low Cost Advertising</p>
									<p class="project_new">同步更新项目最新进度</p>
								</div>
								<div class="project_pro">
									<div class="progress">
										<div class="startTime">
											<span>开始时间</span>
											<p>2020-04-16</p>
										</div>
										<div class="timePro">
											<p>已完成46%</p>
											<img src="images/group_3.png" >
										</div>
										<div class="startTime endTime">
											<span>预计结束时间</span>
											<p>2020-05-20</p>
										</div>
									</div>
									<ul class="timeLine">
										<li class="timeLine_list" v-for="item in progressList">
											<div class="time_right" v-if="item.status == 'finished'">
												<p class="timeTime_time timeTime_times">{{item.formatStartTime}}</p>
												<p class="timeTime_cont timeTime_times">{{item.title}}</p>
												<p class="timeTime_pop timeTime_times">{{item.formatStartTime}}</p>
											</div>
											<div class="time_right" v-else>
												<p class="timeTime_time">{{item.formatStartTime}}</p>
												<p class="timeTime_cont">{{item.title}}</p>
												<p class="timeTime_pop">{{item.formatStartTime}}</p>
											</div>

											<img v-bind:src="item.image" class="time_img">
											<img src="images/group_1.png" alt="" class="time_icons" v-if="item.status == 'finished'">
											<img src="images/group_2.png" alt="" class="time_icon" v-else>
										</li>
									</ul>
									<div class="service">
										<div class="service_pop">
											<img src="images/my.png" >
											<div class="ser_pop">
												<p class="ser_name">陈文华</p>
												<p class="ser_text">公司：中竞集团</p>
												<p class="ser_text">职位：客户部经理</p>
												<p class="ser_text">电话：13052668470</p>
											</div>
										</div>
										<img src="images/group_4.png" class="service_ser">
									</div>
									
								</div>
							</div>

							<div class="card_temp">
								<div class="cont_card_right">
									<div class="right_list" v-for="(item,index) in projectList" :key="index">
										<div class="template_list" @click="template_href(item.projectId);">
											<div class="temp_right">
												<p>{{item.projectName}}</p>
												<p>{{item.formatStartTime}}</p>
												<p>{{item.title}}</p>
												<p>{{item.stuffName}}</p>
											</div>
											<img v-bind:src="item.image" class="temp_word">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</el-main>
				<el-footer>© 2020 中竞集团. All Rights Reserved &nbsp; 京ICP备05046329号-1 &nbsp; 京公网安备11010802009768</el-footer>
			</el-container>
		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="js/pulic.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/project_list.js" type="text/javascript" charset="utf-8"></script>
</html>
