<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>中竞集团</title>
		<!-- import CSS -->
		<link rel="shortcut icon" href="images/logo.png">
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/service.css" />
	</head>
	<body>
		<div id="app" v-cloak>
			<el-container>
				<div class="header">
					<el-header style="height: auto;">
						<div class="logo">
							<img src="images/logo.png">
						</div>
						<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
							<el-menu-item index="1"><a href="index.html">首页</a></el-menu-item>
							<el-menu-item index="2"><a href="management.html">消息管理</a></el-menu-item>
							<el-menu-item index="3"><a href="aboutUs.html">关于我们</a></el-menu-item>
							<el-menu-item index="4"><a href="template.html">下载模板</a></el-menu-item>
							<el-menu-item index="5"><a href="project_index.html">我的项目</a></el-menu-item>
							<el-menu-item index="6"><a href="personalCenter.html">个人中心</a></el-menu-item>
						</el-menu>
					</el-header>
				</div>
				
				<el-main>
					<div class="headImg">
						<p class="headTitle">服务商城</p>
						<p class="headText">Service Mall</p>
					</div>

					<div class="container">
						<div class="content">
							<div class="card">
								<div class="cont_card_left">
									<p class="card_title">服务商城</p>
									<div class="card_list">
										<div class="card_list_left" v-for="(item,index) in template" :key="index" @click="querys(item,index)" :class="{light_greycolor:index == num}">
											<p>{{item.typeName}}</p>
											<img src="images/right_1.png" class="card_img">
										</div>
									</div>
								</div>
								<div class="card_temp">
									<div class="cards_t"  v-for="(item,index) in template" :key="index" v-show="index == num">
										<div class="cont_card_right">
											<div class="card_mall" v-for="(itemList,index) in item.child" :key="index">
												<div class="mall_titles">
													<div class="mall_line"></div>
													<p>{{itemList.typeName}}</p>
													<p class="seeMore" @click="seeMore(itemList.id)">查看更多</p>
												</div>
												<div class="service_mall">
													<!-- 
													<div class="mall_img" v-for="(recordList,index) in records" v-if="itemList.id == recordList.typeId " :key="index" @click="mallDetails(recordList.id)">
														<div class="mall_contImg">
															<img :src="recordList.image" />
															<p>{{recordList.title}}</p>
														</div>
													</div>
													 -->
													 
													 <div class="mall_img" v-for="(recordList,index) in getStart(itemList.id)"  :key="index" @click="mallDetails(recordList.id)">
													 	<div class="mall_contImg">
													 		<img  :src="recordList.image" />
													 		<p>{{recordList.title}}</p>
													 	</div>
													 </div>
												</div>
												
										<div class="serverMoreDiv">
											<el-collapse-transition>
									          <div  v-if="eIndex==itemList.id" class="transition-box">
												  <div class="seeMoreInfo"  v-for="(citem,cIndex) in getEnd(itemList.id)" >
												  		<img :src="citem.image" />
												  		<p>{{citem.title}}</p>
												  </div>
												  
												  
												  
												  
									      </el-collapse-transition>										
											</div>
											
											</div>
											
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</el-main>
				<el-footer>© 2020 中竞集团. All Rights Reserved &nbsp; 京ICP备05046329号-1 &nbsp; 京公网安备11010802009768</el-footer>
			</el-container>
		</div>
	</body>
	<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<!-- import Vue before Element -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="js/pulic.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="js/service.js" type="text/javascript" charset="utf-8"></script>
</html>
